
@{
    ViewBag.Title = "CyberSource";
}

<h2>CyberSource</h2>


@using (Html.BeginForm("CyberSource", "PaymentGateway", FormMethod.Post))
{
    <br />
    <button type="submit" class="btn btn-primary">Hureee! Go for Cyber Sourse</button>
}


